### C++ ###
# Prerequisites
*.d
# folder ignore file 
/binary/*


# Ignore all files without extensions (typical C++ binaries)
*

# But allow source code and folders
!*/
!*.cpp
!*.h
!*.hpp
!*.c
!*.md
!.gitignore


# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.exe
# End of https://www.toptal.com/developers/gitignore/api/c++